$baseColor: #e92322;

.wjs_header {
  height: 50px;
  line-height: 50px;

  border-bottom: 1px solid #cccccc;
  .row {
    height: 100%;
    text-align: center;
    a{
      color: #8c8c8c;
    }
    a:hover {
      text-decoration: none;
    }

    > div:nth-of-type(-n+3) {
      border-right: 1px solid #cccccc;

      .wjs_code {
        position: relative;
        > img {
          display: none;
          position: absolute;
          border: 1px solid #cccccc;
          border-top: none;
        }
        &:hover {
          > img {
            display: block;
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
          }
        }
      }
    }
    > div:nth-last-of-type(1) {
      > .btn-danger {
        background-color: $baseColor;
      }
      > .btn {
        padding: 3px 15px;
        outline: none;
      }
      > .btn-link {
        color: #333;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.wjs_nav {
  background-color: #fff;
  margin-bottom: 2px;
  .navbar-brand {
    height: 80px;
    line-height: 50px;
  }

  .navbar-nav {
    a {
      line-height: 50px;
      height: 80px;
    }
    & a:hover {
      border-bottom: 2px solid $baseColor;
    }
  }
}

